{% extends 'base.html.twig' %}

{% block title %}{{ 'product.index.title'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'warehouse.index.title'|trans }}
        </div>
        <div class="card-body">
            <div id="products-component"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/product.js') }}"></script>
{% endblock %}
